@font-face {
	font-family: 'MagusFont';
	src: url('../fonts/MagusThin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal
}
@font-face {
	font-family: 'MagusFont';
	src: url('../fonts/MagusLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal
}
@font-face {
	font-family: 'MagusFont';
	src: url('../fonts/MagusMedium.ttf') format('truetype');
	font-weight: 400;
	font-style: normal
}

:root {
	--body-family: "MagusFont", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--display-family: "MagusFont", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

	--font-weight-light: 100;
	--font-weight-normal: 200;
	--font-weight-medium: 400;
	--font-weight-bold: 700;
	--font-weight-heavy: 900;
	--font-weight-heavy: var(--font-weight-bold);

	--line-height: 1.2;
	--line-height-headings: 1.1;

	--color-grey-dark: #333333;
	--color-grey: #E3E3E4;
	--color-grey-light: #EAEAEB;

	--color-primary: #62338F;
	--color-secondary: var(--color-grey-dark);
	--color-tertiary: #FFBC49;
	--color-quaternary: #E2574C;

	--color-text-base: var(--color-grey-dark);
	--color-text-dark: #181822;
	--color-text-reversed: #fff;
	--color-text-link: var(--color-text-base);
	--color-text-hover: black;

	--color-facebook: #3B5998;
	--color-twitter: #1DA1F2;
	--color-instagram: #262626;
	--color-youtube: #cc181e;
	--color-linkedin: #0077B5;

	--body-background-color: var(--color-grey-light);

	--border-radius: 16px;

	--spacing-xxl: 100px;
	--spacing-xl: 75px;
	--spacing-l: 60px;
	--spacing-m: 55px;
	--spacing-sm: 40px;
	--spacing: 30px;
	--spacing-s: 0.5rem;
	--spacing-xs: 0.25rem;

	--content-width: 768px;
	--container-small: 768px;
	--container: 1285px;
	--container-large: 1600px;


	--font-size: calc(1rem + 0.15vw);
	--font-size-p: calc(1rem + 0.15vw);
	--font-size-lead: calc(2.1rem + 0.1vw);
	--font-size-small: calc(0.9rem + 0.1vw);
	--font-size-h1: calc(2rem + 0.2vw);
	--font-size-h2: calc(1.8rem + 0.2vw);
	--font-size-h3: calc(1.5rem + 0.2vw);
	--font-size-h4: calc(1.3rem + 0.2vw);
	--font-size-h5: calc(1.2rem + 0.2vw);

	@include mq(large) {
		--font-size-p: calc(1rem + 0.3vw);
		--font-size-h1: calc(3.8rem + 0.2vw);
		--font-size-h2: calc(3.8rem + 0.2vw);
		--font-size-h3: calc(1.6rem + 0.2vw);
		--font-size-h4: calc(1.4rem + 0.2vw);
		--font-size-h5: calc(1.2rem + 0.2vw);
	}
}
