.awards {
	@extend .text-white;
	background-color: var(--color-primary);
	text-align: center;
	padding: var(--spacing-l);
	margin-bottom: var(--spacing-l);

	&--images {
		margin: var(--spacing-l) 0;
		display: flex;
		flex-wrap: wrap;
		@include mq(medium) {
			flex-wrap: nowrap;
		}
		&-item {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 0 1rem;
			&:nth-child(odd) {
				padding-left: 0;
			}
			&:nth-child(even) {
				padding-right: 0;
			}
			@include mq(medium) {
				flex-grow: 1;
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
			}

			@include mq($until: medium) {
				width: 50%;
				padding: 0 2rem;
				margin-bottom: 2rem;
			}
		}
	}
}