.btn {
	display: inline-block;
	border-radius: 0;
	padding: 0.5rem 1rem;
	border: 5px solid white;
	color: white;
	font-family: var(--display-family);
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size-lead);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-align: center;

	&:hover, &:focus {
		outline: 0;
		color: var(--color-primary);
		background-color: white;
		text-decoration: none;
	}
}

.btn--primary {
	background-color: transparent;
	border-color: var(--color-primary);
	color: var(--color-primary);

	&:hover, &:focus {
		background-color: var(--color-primary);
		color: white;
	}
}
