.btn,
input[type=submit], input[type=reset], input[type=button] {
	display: inline-block;
	border-radius: 0;
	padding: 0.5rem 1.5rem;
	border: 5px solid white;
	color: white;
	font-family: var(--display-family);
	font-weight: var(--font-weight-normal);
	font-size: var(--font-size-lead);
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-align: center;

	&:hover, &:focus {
		outline: 0;
		color: var(--color-primary);
		background-color: white;
		text-decoration: none;
	}
}

.btn--primary,
input[type=submit], input[type=reset], input[type=button]  {
	background-color: transparent;
	border-color: var(--color-primary);
	color: var(--color-primary);

	&:hover, &:focus {
		background-color: var(--color-primary);
		color: white;
	}
}
.cta-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: auto;
	background-color: var(--color-primary);
	// width: 50px;
	// height: 50px;
	width: 190px;
	position: fixed;
	top: 30px;
	right: 30px;
	padding: 1rem;
	z-index: 1000;
	color: white;
	opacity: 0;
	visibility: hidden;
	transition: background-color .3s, 
	opacity .5s, visibility .5s, box-shadow .1s ease-in-out;
	&:hover {
		cursor: pointer;
		color: white;
		box-shadow: 0px 23px 120px rgba(0, 0, 0, 0.2);
		text-decoration: none;
		transition: box-shadow .2s ease-in-out, 
	}
	&:active {
		box-shadow: 0px 23px 120px rgba(0, 0, 0, 0.2);
	}
	.icon {
		width: 72px;
		margin-bottom: 0.5rem;
	}
	img {
		margin-right: 1rem;
	}
}

.cta-button.show {
	opacity: 1;
	visibility: visible;
}

#button {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
	// width: 50px;
	// height: 50px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	padding: 1rem;
	transition: background-color .3s, 
	opacity .5s, visibility .5s, box-shadow .1s ease-in-out;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
	color: var(--color-primary);
	border: 1px solid var(--body-background-color);
	&:hover {
		cursor: pointer;
		box-shadow: 0px 23px 120px rgba(0, 0, 0, 0.2);
		text-decoration: none;
		transition: box-shadow .2s ease-in-out, 
	}
	&:active {
		box-shadow: 0px 23px 120px rgba(0, 0, 0, 0.2);
	}
	.icon {
		// width: 72px;
		margin-bottom: 0.5rem;
	}
}
#button.show {
	opacity: 1;
	visibility: visible;
}