.content {
	@extend .container;
	margin-bottom: var(--spacing-xl);
	h2,
	h3,
	h4,
	h5 {
		margin-top: var(--spacing-l);
		margin-bottom: var(--spacing);
		&:first-of-type {
			margin-top: 0;
		}
	}


	a {
		color: var(--link-color);
		text-decoration: underline;
		text-decoration-color: var(--link-hover-color);
	}

	a:hover {
		color: var(--color-primary);
		text-decoration: underline;
	}
	.btn {
		text-decoration: none;
		color: white;
	}

	blockquote {
		max-width: none;
		font-size: var(--font-size-h3);
		line-height: 1.4;
		margin: var(--spacing-l) 0;
	}

	figure {
		max-width: none;
		margin: var(--spacing-xl) 0;
	}

	figcaption {
		padding: 1em 0;
		font-size: var(--font-size-xs);
		color: var(--color-text-dark);
		max-width: var(--content-width);
		margin-right: auto;
		margin-left: auto;
		border-bottom: 1px solid var(--color-grey-light);
	}

	ul {
		margin-top: 1.5em;
		padding: 0;
		margin-left: 2rem;
	}

	li {
		position: relative;
		padding-left: 1.5rem;
		margin-bottom: 0.3em;

		ul {
			margin-top: 0.3em;
			margin-bottom: 1em;
			margin-left: 1rem;
			li:before {
				content: 'º';
			}
		}
	}

	li p {
		display: inline;
	}

	li:before {
		content: '•';
		position: absolute;
		left: 0;
		top: 4px;
		// transform: translateY(-50%);
		font-size: 1rem;
		line-height: 1;
		font-weight: bold;
		margin-right: 0.6em;
		color: var(--color-text-dark);
	}
	.li-style {
		margin-bottom: 1.5rem;
		li:before {
			content: url('../../src/images/li-image.png');
			position: absolute;
			width: 15px;
			height: 15px;
			left: 0;
			top: 4px;
			// transform: translateY(-50%);
			font-size: 1rem;
			line-height: 1;
			font-weight: bold;
			margin-right: 0.6em;
			color: var(--color-text-dark);
		}
	}
}
.link-list-item--content-title {
	ul {
		margin-top: 1.5em;
		padding: 0;
		margin-left: 2rem;
	}

	li {
		position: relative;
		padding-left: 1.5rem;
		margin-bottom: 0.3em;
	}

	li:before {
		content: '•';
		position: absolute;
		left: 0;
		top: 4px;
		// transform: translateY(-50%);
		font-size: 1rem;
		line-height: 1;
		font-weight: bold;
		margin-right: 0.6em;
		color: var(--color-text-dark);
	}
	.li-style {
		margin-bottom: 1.5rem;
		li:before {
			content: url('../../src/images/li-image.png');
			position: absolute;
			width: 15px;
			height: 15px;
			left: 0;
			top: 4px;
			// transform: translateY(-50%);
			font-size: 1rem;
			line-height: 1;
			font-weight: bold;
			margin-right: 0.6em;
			color: var(--color-text-dark);
		}
	}
}