.cta {
	@extend .text-white;
	background-color: var(--color-primary);
	text-align: center;
	padding: var(--spacing-l);
	margin-bottom: var(--spacing-xl);

	.btn {
		margin-top: 2rem;
	}
	&--button {
		text-align: center;
		margin-bottom: var(--spacing-xl);
	}
}