.global-footer {
	position: relative;
	margin-top: auto;
	text-align: center;
	background-color: var(--color-primary);
	padding: var(--spacing-xxl) 0;
	&--logo {
		z-index: 1;
		margin-bottom: var(--spacing-m);
		@include mq(medium) {
			width: 447px;
		}
		a {
			display: block;
		}
	}
	&--nav {
		a {
			color: white;
			margin: 0 0.5rem;
			font-size: 15px;
			@include mq(medium) {
				font-size: var(--font-size-p);
			}
		}
	}
	&--foot {
		border-top: 1px solid white;
		margin-top: var(--spacing-m);
		padding-top: var(--spacing-m);
		p {
			@extend .small;
			line-height: 2;
		}
		a {
			font-size: 15px;
			color: white;
		}
		ul {
			margin-top: var(--spacing);
			a {
				font-size: 15px;
				margin-left: 0;
				margin-right: 0.2rem;
				color: white;
	
				&:after {
					content: '|';
					margin-left: 0.5rem;
				}
			}
			li {
				&:last-child {
					a {
						&:after {
							content: '';
						}
					}
				}
			}
		}
	}
}

.global-footer--inner {
	@extend .container;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.global-footer p {
	color: white;
	// margin: 0;
	// font-size: var(--font-size-small);
}