.link-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -10px var(--spacing-l) -10px;
	@include mq(medium) {
		margin: 0 -10px var(--spacing-xl) -10px;
	}
	// padding: var(--spacing);
	// padding-bottom: 0;
	// @include mq(medium) {
	// 	padding: var(--spacing-l);
	// }
    // @include mq(large) {
	// 	padding: calc(var(--spacing-xl) - 20px);
	// }

	&--featured {
		&-item {
			width: calc(100% / 2 - 20px);
			margin: 0 10px var(--spacing) 10px;
			@include mq(medium) {
				width: calc(100% / 2 - 20px);
				margin: 10px;
			}
			&--image {
				position: relative;
				overflow: hidden;
				width: 100%;
				height: calc(50vw - 44px); 
				@include mq(medium) {
					height: calc(50vw - 30px); 
					max-height: calc(var(--container) / 2);
				}
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					max-width: none;
					width: 100%;
					min-width: calc(100% + 2px);
					min-height: calc(100% + 2px);
	
					@include mq($until: small) {
						max-width: 100%;
					}
					
					@include mq(medium) {
						max-width: none;
					}
				}
			}

			&--content {
				padding: calc(var(--spacing) / 2);
				@include mq(medium) {
					position: absolute;
					padding: var(--spacing);
					bottom: var(--spacing);
					left: var(--spacing);
					width: 50%;
					background: white;
				}

				&-title {
					position: relative;
					padding-left: calc(var(--spacing) / 2 + 5px);
					height: 100%;
					@include mq(medium) {
						padding-left: var(--spacing);
					}
					&::before {
						content: '';
						position: absolute;
						height: 100%;
						width: 5px;
						background-color: var(--color-primary);
						top: 0;
						left: 0;
					}
				}
				
			}
		}
	}

	&--intro {
		margin-bottom: var(--spacing);
	}
	&-color {
		.link-list-item {
			background-color: var(--color-primary);
			flex-grow: 1;
			&--content {
				.btn {
					width: 100%;
					margin-bottom: 1rem;
				}
				p {
					color: white;
				}
			}
		}
	}

	&-item {
		width: calc(100% / 2 - 20px);
		margin: 10px;
		flex-grow: 0;
		&__full {
			flex-grow: 1;
		}
		
		@include mq(medium) {
			width: calc(100% / 3 - 20px);
			margin: 10px;
		}
		&--link {
			position: relative;
			background: white;
			height: 100%;
            color: var(--color-text-base);
			z-index: 1;
			transition: all 0.1s ease-in-out;
			display: flex;
			flex-direction: column;
			z-index: 1;
            font-weight: var(--font-weight-normal);

			@include mq(medium) {
				// margin: 10px;
			}

			&:hover {
				// color: white;
				// transform: scale(1.05,1.05);
				// z-index: 9;
                text-decoration: none;
                box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.2);
			}
		}

		&--image {
			position: relative;
			overflow: hidden;
			width: 100%;
			height: calc(50vw - 44px); 
			background-size: cover;
			// @include mq($until: medium) {
			// 	height: calc(33vw - 175px); 
			// 	max-height: 390px;
			// }
			@include mq(medium) {
				height: calc(33vw - 33px); 
				max-height: 390px;
			}
			@include mq(xlarge) {
				height: calc(33vw - 72px); 
				max-height: 390px;
			}
			img {
				display: none;
				opacity: 0;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				max-width: none;
				// width: 100%;
				min-width: calc(100% + 2px);
				min-height: calc(100% + 2px);

				@include mq($until: small) {
					max-width: 100%;
				}
				
				@include mq(medium) {
					max-width: none;
				}
			}
		}

		&--content {
			padding: calc(var(--spacing) / 2);
			@include mq(medium) {
				padding: var(--spacing);
			}
			&-title {
				position: relative;
				// padding-bottom: var(--spacing);
				padding-left: calc(var(--spacing) / 2 + 5px);
				min-height: 58px;
				height: 100%;
				@include mq(medium) {
					padding-left: var(--spacing);
				}
				&::before {
					content: '';
					position: absolute;
					height: 100%;
					width: 5px;
					background-color: var(--color-primary);
					top: 0;
					left: 0;
				}
			}
		}
	}
	&--button {
		width: 100%;
		justify-content: center;
		display: flex;
		margin-bottom: var(--spacing-xl);
	}
}