.modal {
	padding: var(--spacing-xs);
	// display: none;

	position:fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 2147483647;
	background: #333;
	background: rgba(0, 0, 0, 0);

	opacity: 0;
	visibility: hidden;
	transition: all .3s ease-in-out;
	@include mq(medium) {
		padding: var(--spacing-l);
		padding-top: 1.5rem;
	}

	&--inner {
		position: relative;
		background: white;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: var(--spacing);
		padding-top: 1.5rem;
		top: 50%;
		transform: translateY(-50%);
		width: 90%;
		max-width: 600px;
		margin: 0 auto;
		color: var(--color-text-base);
		@include mq(medium) {
			padding: var(--spacing-l);
			padding-top: 1.5rem;
			width: 50%;
		}
		.logo {
			width: 250px;
			margin-bottom: 1rem;
		}

		img, .size-full {
			width: 100%;
			margin: 0 0 1rem 0;
		}
		.btn {
			margin-top: 1rem;
			font-size: 22px;
		}

		p {
			color: var(--color-text-base);
			margin-bottom: 1rem;
		}

		button {
			position: absolute;
			right: 1rem;
			top: 1rem;
			background-color: transparent;
			border: none;
			cursor: pointer;
		}
	}
}

.modal.show {
	opacity: 1;
	visibility: visible;
	display: block;
	transition: all .3s ease-in-out;
	background: rgba(0, 0, 0, 0.8);
}

.modal.noshow {
	display: none;
}
