.office-list {
	.link-list-item {
		background-color: white;
		flex-grow: 1;
		&--content {
			padding: var(--spacing-m);
			a {
				color: var(--color-text-base);
				font-weight: var(--font-weight-normal);
			}
		}
	}
}