.platforms {
	background-color: var(--color-primary);
	display: flex;
	flex-wrap: wrap;
	padding: calc(var(--spacing) / 2);
	@include mq(medium) {
		padding: calc(var(--spacing) - 10px);
	}

	&-item {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 3px solid white;
		padding: var(--spacing-s) var(--spacing-xs);
		width: calc(50% - 20px);
		margin: 10px;
		max-height: 125px;
		@include mq(medium) {
			padding: calc(var(--spacing) - 10px);
		}
		img {
			height: 100%;
			@include mq(medium) {
				max-width: 80%;
			}
		}
	}
}