.social-links {
	display: flex;
	justify-content: center;
	margin: var(--spacing-m) 0 !important;
}

.social-links__item {
	margin: 0 0.5rem;
	a {
		display: flex;
		border-radius: 100px;
		border: 5px solid white;
		padding: 0.5rem;
		// height: 60px;
		// width: 60px;
		&:hover {
			background: white;
			svg {
				fill: var(--color-primary);
			}
		}
	}

	.icon {
		width: 32px;
		height: 32px;
	}
	
}

.social-links__link {
	color: white;
}
