.testimonial {
	@extend .container;
	text-align: center;
	&--inner {
		text-align: left;
		@extend .text-white;
		display: flex;
		flex-direction: column;
		background-color: var(--color-primary);
		padding: var(--spacing-l);
		margin-bottom: var(--spacing-xl);
	}

	&--author {
		margin-left: auto;
	}
	.btn {
		margin: -1rem auto var(--spacing-xl) auto;
	}
}